# =========================
# Build output
# =========================
target/
build/
out/
*.class

# =========================
# Logs
# =========================
*.log
log/

# =========================
# IntelliJ
# =========================
.idea/
*.iml

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Media (IMPORTANT)
# =========================
src/main/resources/static/images/
*.mp3
*.jpg
*.jpeg
*.png

# =========================
# Maven
# =========================
.mvn/
